services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: openwebui-docker-sandbox
    ports:
      - "8080:8080"
    volumes:
      - open-webui:/app/backend/data

volumes:
  open-webui:
